%div{ id:"side_nav" , class:"span2"}
  -if user_signed_in?
    %h1 logged in as
    %span{class:"label label-info"}= @user.username
    %p{class:"actions"}
      =link_to "Logout", destroy_user_session_path, :method => :delete
  -else
    hello