-if user_signed_in?
  %li{class:"dropdown"}
    %a{:class => "dropdown-toggle", "data-toggle" => "dropdown"}
      Photography
      %span{class:'caret'}
    %ul{class:"dropdown-menu"}
      %li= link_to 'View galleries', galleries_path
      %li= link_to '(+) New gallery', new_gallery_path, { :class => ""}
-else
  %li{class:""}
    %li= link_to 'Photography', galleries_path