// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// require "_bootstrap"

body {
	
}


//show page
h1.post_title {
	text-transform: capitalize;
	font-size: 37px;
	margin-bottom: 20px;
}

h2.post_description {
	text-transform: capitalize;
	border-bottom: 1px solid black;
}

h3.post_meta {
	text-align: right;
}

div.post_published_meta {
	text-align:right;
}

.post_index_actions {
	
}


ul#blog_roll  {
	
	li:first-child {
		margin-top: 30px;
	}
	
	li {
		list-style-type: none;
		display: block;
		
		padding-left: 5px;
		margin-bottom: 30px;
		border-left: 2px grey solid;
		
		
	}
	
	li:hover {
		border-left: 2px black solid;
	}
	
	
	p.post_info {
		text-align: right;
	}
	
	p.actions {
		text-align: right;
		
		> a:after {
			content:' |';
		}
		
		> a:hover {
			font-weight: bold;
			text-decoration: none;
		}
		
	}

}